---
// Component Imports
import Metric from '../components/Metric.astro';

let title = 'CrUX Dashboard';

import data from '../_data/crux.json';

function displayHeader(){
    const urlType = data.params.url ? 'URL' : 'origin';
    const device = data.params.formFactor  === 'PHONE' ? '📱' : '🖥️';
    return `<p>${device} ${data.params.formFactor.toLowerCase()}  🌐 ${urlType}  📅 ${data.params.date}</p>`
}

function displayLegend(metric) {
  const metricsMap = {
    'CLS': {range : [0.1, 0.25], name : "Cumulative Layout Shift"},
    'FCP': {range :[1800, 3000], name : "First Contentful Paint"},
    'FID': {range :[100, 300], name : "First Input Delay"},
    'LCP': {range :[2500, 4000], name : "Largest Contentful Paint"}
};

    const metricData = metricsMap[metric];
    const unit = metric === "CLS" ? '' : 'ms'

    return `
    <h2>${metricData.name}</h2>
    <p class="legend">🟢 good (< ${metricData.range[0]} ${unit}) 🟠 needs improvement 🔴 poor (> ${metricData.range[1]} ${unit})</p> `;
}

function compareByDistribution(a,b) {
            const x = a.histogram[0];
        const y = b.histogram[0];
        if (y < x ) return -1
        if (x > y ) return 1
        return 0;
}


function compareByP75(a,b) {
        const y = a.p75
        const x = b.p75;
        if (y < x ) return -1
        if (x > y ) return 1
        return 0;
}


function getMetric(metric) {
    return data.metrics.map(item => {
    let obj = item[metric];
    obj.url = item.url.replace("https://","");
        return obj
    }).sort(compareByDistribution);
}

let FCP = getMetric(" FCP");
let LCP = getMetric(" LCP");
let FID = getMetric(" FID");
let CLS= getMetric(" CLS");
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/style/global.css">
</head>
<body>
    <main>
        <header>
            <div>
                <h1>CrUX Dashboard</h1>
                {displayHeader()}
            </div>
        </header>
        <section>
            <article>
            {displayLegend('FCP')}
            {FCP.map(p => <Metric post={p} />)}
            </article>
            <article>
          {displayLegend('LCP')}
            {LCP.map(p => <Metric post={p} />)}
            </article>
            <article>
            {displayLegend('FID')}
            {FID.map(p => <Metric post={p} />)}
            </article>
            <article>
           {displayLegend('CLS')}
            {CLS.map(p => <Metric post={p} />)}
            </article>
        </section>
    </main>
</body>
</html>
