---
// Component Imports
import Metric from '../components/Metric.astro';

let title = 'CrUX Dashboard';

import data from '../_data/crux.json';


function displayLegend(metric) {
  const metricsRanges = {
    'CLS': [0.1, 0.25],
    'FCP': [1800, 3000], 
    'FID': [100, 300],
    'LCP': [2500, 4000]
};

    const range = metricsRanges[metric];

    const unit = metric === "CLS" ? '' : 'ms'

    const legend =  `
    <h2>${metric}</h2>
    <p class="legend">🟢 good (< ${range[0]} ${unit}) 🟠 average 🔴 poor (> ${range[1]} ${unit})</p> 
    `;
    return legend

}




function compareByDistribution(a,b) {
            const x = a.histogram[0];
        const y = b.histogram[0];
        if (y < x ) return -1
        if (x > y ) return 1
        return 0;
}


function compareByP75(a,b) {
        const y = a.p75
        const x = b.p75;
        if (y < x ) return -1
        if (x > y ) return 1
        return 0;
}


function getMetric(metric) {
    return data.metrics.map(item => {
    let obj = item[metric];
    obj.url = item.url.replace("https://","");
        return obj
    }).sort(compareByDistribution);
}

// const metrics = [" FCP", " LCP", " FID", " CLS"]
let FCP = getMetric(" FCP");
let LCP = getMetric(" LCP");
let FID = getMetric(" FID");
let CLS= getMetric(" CLS");
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/style/global.css">
</head>
<body>
    <main>
        <header>
            <div>
                <h1>CrUX Dashboard</h1>
                <p class="legend"> {JSON.stringify(data.params)}</p>
            </div>
        </header>
        <section>
            <article>
            {displayLegend('FCP')}
            {FCP.map(p => <Metric post={p} />)}
            </article>
            <article>
          {displayLegend('LCP')}
            {LCP.map(p => <Metric post={p} />)}
            </article>
            <article>
            {displayLegend('FID')}
            {FID.map(p => <Metric post={p} />)}
            </article>
            <article>
           {displayLegend('CLS')}
            {CLS.map(p => <Metric post={p} />)}
            </article>
        </section>
    </main>
</body>
</html>
