---
import fs from 'node:fs/promises';
import Layout from '$layouts/Layout.astro'

// Component Imports
import MetricsByUrl from '$components/MetricsByUrl.astro';
import Header from '$components/Header.astro';

let title = 'CrUX Dashboard - distribution';

export async function getStaticPaths() {

const dataDir = new URL('../../_data/', import.meta.url);
const files = await fs.readdir(dataDir, 'utf-8');

let pages = files.filter(item => {
    return item.indexOf('.json') > -1
  }).map(item => {
    return {params: {'id': item.split('-')[1].split('.json')[0]}}  // crux-origin.json => origin
  });
  return pages;
}
const {id} = Astro.request.params;

const url = new URL(`../../_data/crux-${id}.json`, import.meta.url);
const json = await fs.readFile(url, 'utf-8');
const data = JSON.parse(json);


---
<Layout title={title}>
  
   <main>
        <header>
            <div>
                <h1>{title}</h1>
                <Header params={data.params}/>
            </div>
        </header>
        <section>
            <MetricsByUrl data = {data}/>
        </section>
    </main>
</Layout>