---
import fs from 'node:fs/promises';
import path from 'node:path';
import process from 'node:process';
import Layout from '$layouts/Layout.astro'

// Component Imports
import UrlsByMetric from '$components/UrlsByMetric.svelte';
import Header from '$components/Header.astro';

let title = 'CrUX Dashboard - p75';

export async function getStaticPaths() {

const dataDir = path.join(process.cwd(), 'src/_data');
const files = await fs.readdir(dataDir, 'utf-8');

let pages = files.filter(item => {
    return item.indexOf('.json') > -1
  }).map(item => {
    return {params: {'id': item.split('.json')[0]}}  
  });
  return pages;
}
const {id} = Astro.params;
const url = path.join(process.cwd(), `src/_data/${id}.json`);
const json = await fs.readFile(url, 'utf-8');
const data = JSON.parse(json);
---
<Layout title = {title}>
    <main>
        <header>
            <div>
                <h1>{title}</h1>
                <Header params={data.params}/>
            </div>
        </header>
        <section>
                <UrlsByMetric data={data}/>
        </section>
    </main>
</Layout>
